.title {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.title-btn {
    margin: 0 10px;
}
.navigation-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16.5% 5%;
}
h1,
h2,
h3 {
    font-weight: bold;
}
.controls-block{
    overflow-x: auto;
    max-height: 520px;
}
.controls {
    margin-left: 25%;
    display: block;
    position: relative;
    /* text-align: center;
      margin: auto; */
    margin-top: 15px;
    /* border-bottom: 1px solid #333; */
    width: 55%;
}
.controls-items {
    display: flex;
    justify-items: stretch;
    /* width: 40%; */
}
b {
    display: inline-block;
    width: 150px;
    font-weight: 400;
    font-size: 17px;
}
.title-controls {
    padding-bottom: 4px;
    margin: 0 0 4px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #333;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
}
.navigation-item{
    /* width: 40%; */
    padding: 0 70px;
    text-align: center;

}
.navigation-text{
    font-size: 15px;
}