@media (max-width: 900px) {
    .wrap {
        width: 100% !important;
        box-sizing: border-box !important;
    }
}

@media (min-width: 900px) {
    .wrap {
        width: 1000px !important;
        box-sizing: border-box !important;
    }
}